* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.category-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 24px;
  background-color: #fff;
}
.categories-options {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.category-option {
  border-radius: 8px;
  text-align: center;
  width: 100%;
  border: 1px solid rgb(197, 197, 197);
  padding: 8px 16px;
  background-color: #fafafa;
  cursor: pointer;
  transition: all 0.3s;
}
.category-option:hover {
  background-color: #f3f3f3;
}
