*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3f3f3;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px ;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 12px 16px;
    gap: 8px;
}
form h2{
    font-size: 34px;
}
form input{
    border: 1px solid gray;
    border-radius: 4px;
    padding:8px;
}
form span{
    font-size: 12px;
}
form button{
    background-color: #3ba0ff;
    color: #ffff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}
form button:hover{
    background-color: #3ba0ffbd;

}
form p{
    text-align: center;
}
form p a,
form .checkboxDiv a{
    color: #3ba0ff;
}
form .checkboxDiv{
    display: flex;
    justify-content: space-between;
}
.danger{
    color: red;
}
.correct{
    color: green;
}
.pass{
    position: relative;
}
.pass input{
    width: 100%;
}
.pass i{
    position: absolute;
    right: 10px;
    top: 5px;
    color: gray;
    cursor: pointer;
}